/* 首頁 */
.hero {
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
  overflow: hidden; 
  background-repeat: no-repeat;
  margin:0;
  padding:0;
}

.hero__content { position: relative; z-index: 1; max-width: 880px; text-align: left; }

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 文案頁 */
#intro {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/* 教學頁 */
#tutorial {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
